.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
    padding: 5px;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo {
    width: 100px;
}

.card{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}



.shimmer-card {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
  }

  .cardslist {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px solid black;
    margin: 10px;
  }